div#doc-switch-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: black;
  color: #00dd00;
  font-family: Helvetica, Arial, sans-serif;
  border: 1px dashed #0d0;
  margin: 2px;


  height: 44px;
  line-height: 44px;
  text-align: center;
  vertical-align: middle;

  opacity: .8;
}

div#doc-switch-banner > p {
  margin: 0;
}
